.bellow_unterline_book_room{
width: 100%;
    
    height: 2px;
    top: 2vh;
    background-color: rgb(61, 59, 59);
}
.Booking_date_container{
    justify-content: space-around;
    margin-top: 1vh;
max-height: 30vh;

overflow-y: scroll;
overflow-x: hidden;

    display:grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;

align-items:first baseline ;
width: 100%;

    background-color: rgb(228, 241, 241);
}
.input_placeholder_design{
    color: black;
    font-size: 2vh;
    
}

@media  (max-width:940px) {
    .Booking_date_container{
        grid-template-columns: repeat(1,1fr);  
        padding: 10px;
        
    }

}